<div class="picture-edit-frame">
  <div class="cancel-btn" operate="cancel">
    <img src="../assets/cancel.svg" class="operate-img" operate="cancel">
  </div>
  <div class="save-btn" operate="save">
    <img src="../assets/save.svg" class="operate-img" operate="save">
  </div>
  <div class="body-content">
    <div class="canvas-box"></div>
  </div>
  <div class="footer-content">
    <div class="operate-item" operate="line">
      <img src="../assets/painting_cancel.svg" class="operate-img" operate="line">
    </div>
    <div class="operate-item" operate="text">
      <img src="../assets/text.svg" class="operate-img" operate="text">
    </div>
    <div class="operate-item" operate="back">
      <img src="../assets/return.svg" class="operate-img" operate="back">
    </div>
    <div class="operate-item" operate="clear">
      <img src="../assets/delete.svg" class="operate-img" operate="clear">
    </div>
  </div>
  <div class="text-content">
    <div contenteditable="true" class="text-input"></div>
  </div>
</div>